version: 1.2.{build}
assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
image: Visual Studio 2017
environment:

  DEVENV_LOCATION: C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Common7\IDE\devenv.com
install:
- ps: >-

    nuget restore OctaneTFSPlugin.sln

before_build:
 - cmd: >-     
        cd .\tools-setup
        
        target2017.cmd
        
        cd..
        
configuration:
- Release
build:
  project: OctaneTFSPlugin.sln
  verbosity: normal
after_build:
- cmd: >- 
        cd .\tools-setup
        
        package.cmd
        
        cd..
 
test: off
artifacts:
- path: .\OctaneTFSPlugin\bin\Release
  name: alm-octane-tfs-plugin-release.$(appveyor_build_version)
- path: .\TfsConsolePluginRunner\bin\Debug
  name: alm-octane-tfs-plugin-console-release.$(appveyor_build_version)
- path: .\OctaneTfsPluginSetup\Package2015\
  name: alm-octane-tfs-plugin-setup-2015.$(appveyor_build_version)
- path: .\OctaneTfsPluginSetup\Package2017\
  name: alm-octane-tfs-plugin-setup-2017.$(appveyor_build_version)
