<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webAppUrl" value="http://ATBGQKIHSS.EMEA.CPQCORP.NET:8080/ui/?p=1001" />
    <!-- there are two methods for connecting: client_id and client_secret (recommended) and user/pass
    Use one of the following pairs as appropriate-->
    <!-- client_id/secret -->
    <add key="clientId" value="sa@nga" />
    <add key="clientSecret" value="Welcome1" />
    <!-- user/pass -->
    <!-- <add key="userName" value="user"/>
    <add key="password" value="password"/> -->
    <add key="sharedSpaceId" value="1001" />
    <add key="workspaceId" value="1002" />
    <add key="devTimeout" value="25" />
    <add key="InstanceId" value="78393d1d-c40c-439d-9fda-0b88b913a95f" />
  </appSettings>
</configuration>