<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>ALM Octane CI plugin for TFS</title>
	<meta name="description" content="ALM Octane CI plugin for TFS">
	<meta name="author" content="Microfocus">

	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="shortcut icon" href="resources/f-ci-tfs.png">
	<style>


input[type=text], input[type=password]  {

	border: 1px solid #ccc;
    border-radius: 4px;
	padding: 5px;
    margin: 1px;
	width:700px;
	font-size: 17px;
}

button {

	float: right;
    width: 250px;
    background-color: #0079ef;
    color: white;
    border: none;
    height: 30px;
    margin: 10px 0;
	border-radius: 4px;
	font-size: 17px;
}

button:hover{
 background-color: #009fef;
 font-weight: bold;
}


button:active {
  transform: translateY(1px);
  background-color: #009fef;
  font-weight: bold;
}

table{
	margin : 18px 0 0 20px;
	font-size: 17px;
}
table .itemCaption{
	padding:10px 10px 10px 0;

}

#resultMessage{
	float: left;
    width: 400px;
    margin: 10px 0 0 0;
}

.helpButton{
	margin: 5px 0 0 5px;
    height: 20px;
    width: 20px;
}
.helpButton:hover{
	cursor: pointer;
}

.helpHidden{
	display :none;
}

.controlHidden{
	display :none;
}

.helpVisible{
	display :block;
	border: solid #bbb 1px;
    background-color: #f0f0f0;

	padding: 5px;
    margin: 1px;
	width:700px;
	border-radius: 4px;
}


</style>

	<noscript>Sorry, your browser does not support JavaScript!</noscript>
</head>


<body>

	<div id="header">
		<img id="octaneIcon" src="resources/s-octane-logo.svg" alt="ALM Octane">
		<a href="../" id="home"><img class="linkIcon" src="resources/home-white.svg" alt="Home"></a>
		<div id="title">ALM Octane CI plugin for TFS - Configuration</div>
	</div>


	<table>
		<tr><td class="itemCaption">ALM Octane Location</td><td><div><input type="text" name="octaneLocation"></div></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#octaneLocationHelp')"/></td></tr>
		<tr><td></td><td><div class="helpHidden" id="octaneLocationHelp">The HTTP address of the ALM Octane application. You can copy the URL from the address bar of the browser in which you opened ALM Octane.</div></td><td></td></tr>
		
		<tr><td class="itemCaption">ALM Octane Client ID</td><td><input type="text" name="octaneClientId"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#octaneClientIdHelp')"></td></tr>
		<tr><td></td><td><div class="helpHidden" id="octaneClientIdHelp">A Client ID for API access to ALM Octane. Obtain a Client ID and Client secret from the ALM Octane shared space admin.</div></td><td></td></tr>
		
		<tr><td class="itemCaption">ALM Octane Client Secret</td><td><input type="password" name="octaneClientSecret"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#octaneClientSecretHelp')"></td></tr>
		<tr><td></td><td><div class="helpHidden" id="octaneClientSecretHelp">The Client secret that matches your API access Client ID.</div></td><td></td></tr>
		
		<tr><td class="itemCaption">TFS Location</td><td><input type="text" name="tfsLocation"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#tfsLocationHelp')"></td></tr>
		<tr><td></td><td><div class="helpHidden" id="tfsLocationHelp">The HTTP address of the TFS, such as http://yourhost:8080/tfs/. <br />This address is used for: <ul><li>The plugin to collect information from the build server.</li><li>Links from ALM Octane to the build server.</li></ul></div></td><td></td></tr>
		
		<tr class="PatAuthentication"><td class="itemCaption">TFS PAT (Personal Acess Token)</td><td><input type="password" name="tfsPat"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#tfsPatHelp')"></td></tr>
		<tr class="PatAuthentication"><td></td><td><div class="helpHidden" id="tfsPatHelp">Personal Acess Token to TFS. PAT  minimal permission set should contain :<ul><li>Build (read and execute)</li><li>Code (read)</li><li>Project and team (read)</li><li>Test management (read)</li></ul></div></td><td></td></tr>
		
		<tr class="UserAuthentication"><td class="itemCaption">TFS user</td><td><input type="text" name="tfsUser"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#tfsUserHelp')"></td></tr>
		<tr class="UserAuthentication"><td></td><td><div class="helpHidden" id="tfsUserHelp">User name for API access to TFS. User minimal permission set should contain :<ul><li>Build (read and execute)</li><li>Code (read)</li><li>Project and team (read)</li><li>Test management (read)</li></ul></div></td><td></td></tr>
		
		<tr class="UserAuthentication"><td class="itemCaption">TFS password</td><td><input type="password" name="tfsPassword"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#tfsPasswordHelp')"></td></tr>
		<tr class="UserAuthentication"><td></td><td><div class="helpHidden" id="tfsPasswordHelp">The password that matches your TFS user name</div></td><td></td></tr>
		
		<tr><td class="itemCaption">Instance ID</td><td><input type="text" name="instanceId"></td><td><img src="resources/help.svg" class="helpButton" onclick="toggleHelp('#instanceIdHelp')"></td></tr>
		<tr><td></td><td><div class="helpHidden" id="instanceIdHelp">An ID to uniquely identify this instance of the plugin.</div></td><td></td></tr>
		
		<tr><td></td><td><div><p id="resultMessage"></p><button id="testConnection" type="button">Test Connection</button></div></td><td></td></tr>
		<tr><td></td><td><div><button id="saveButton" type="button">Save</button></div></td><td></td></tr>
	</table>

</body>

<script src="resources/jquery-3.2.1.min.js"></script>


<script>
$(document).ready(function(){
	//replaced by rest service
	//{defaultConf}

	var tfsVersion = 'Tfs2018';
	if(defaultConf){
		$("input[name='octaneLocation']").val(defaultConf.ALMOctaneUrl);
		$("input[name='octaneClientId']").val(defaultConf.ClientId);
		$("input[name='octaneClientSecret']").val(defaultConf.ClientSecret);
		$("input[name='tfsLocation']").val(defaultConf.TfsLocation);
		$("input[name='tfsPat']").val(defaultConf.Pat);
		$("input[name='tfsUser']").val(defaultConf.TfsUser);
		$("input[name='tfsPassword']").val(defaultConf.TfsPassword);
		$("input[name='instanceId']").val(defaultConf.InstanceId);
		tfsVersion = defaultConf.TfsVersion;
	}

	if(tfsVersion === 'Tfs2015'){
		$(".PatAuthentication").addClass("controlHidden");
	}else{//2017,2018
		$(".UserAuthentication").addClass("controlHidden");
	}

	registerForButtonClick("#testConnection","/config/test","Validating...","Configuration validated successfully");
	registerForButtonClick("#saveButton","/config","Saving...","Configuration saved successfully");
	
	function registerForButtonClick(buttonName, postUrl, processMessage, successMessage){

		$(buttonName).click(function(){
			$("#resultMessage").css('color', '#0079ef');
			$("#resultMessage").text(processMessage);
			var confObj = {
				"ALMOctaneUrl": $("input[name='octaneLocation']").val(),
				"ClientId": $("input[name='octaneClientId']").val(),
				"ClientSecret": $("input[name='octaneClientSecret']").val(),
				"TfsLocation": $("input[name='tfsLocation']").val(),
				"Pat": $("input[name='tfsPat']").val(),
				"TfsUser": $("input[name='tfsUser']").val(),
				"TfsPassword": $("input[name='tfsPassword']").val(),
				"InstanceId": $("input[name='instanceId']").val()
			};
			var confJson = JSON.stringify(confObj);
			$(buttonName).prop('disabled', true);
			var jqxhr = $.post(postUrl, confJson, function(a,b) {
				//alert( "success" );
				$("#resultMessage").css('color', 'green');
				$("#resultMessage").text(successMessage);
			})
			  .fail(function(err) {
				//alert( err.responseText );
				$("#resultMessage").css('color', 'red');
				var errMsg = err.responseText;
				var maxLength = 200;
				if(errMsg.length > maxLength){
					errMsg = errMsg.substr(0, maxLength-3) + "...";
				}
				$("#resultMessage").text(errMsg);
			  }).always(function() {
				$(buttonName).prop('disabled', false);
			});
		});
	}	
});

function toggleHelp(elId){
	$(elId).toggleClass("helpHidden");
	$(elId).toggleClass("helpVisible");
}
</script>
</html>
