<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TFS plugin for ALM Octane</title>
	<meta name="description" content="TFS plugin for ALM Octane">
	<meta name="author" content="Microfocus">

	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<link rel="shortcut icon" href="resources/f-ci-tfs.png">
	<style>


h2{
		margin-left: 20px;
		margin-bottom: -10px;
}
table{
	margin : 18px 0 0 20px;
	font-size: 17px;
}
		
.itemHeader{
		width : 250px;
}
.itemValue{
		width : 250px;
}
#logLinks{
	margin: 30px;
}
		
#logLinks a{
	color:#000;
	display: block;
	margin: 10px 0 0 0;
}
#logLinks a:not(:hover) {
    text-decoration: none;
}
#logLinks a:hover {
    text-decoration: none;
	color: #948D9D;
	cursor: pointer;
}

.linkText{
	margin-left: 5px;
	font-size: 20px;
}
		

</style>
	<noscript>Sorry, your browser does not support JavaScript!</noscript>
</head>


<body>

	<div id="header">
		<img id="octaneIcon" src="resources/s-octane-logo.svg" alt="ALM Octane">
		<a href="../" id="home"><img class="linkIcon" src="resources/home-white.svg" alt="Home"></a>
		<div id="title">TFS Plugin for ALM Octane - Logs</div>
	</div>

	<div id="logLinks">
		<a href="/logs/app/last"><img class="linkIcon" src="resources/f-step-simple.svg" alt="Application log" ><span class="linkText">Application log</span></a>
		<a href="/logs/tfsRestCalls/last"><img class="linkIcon" src="resources/f-step-simple.svg" alt="TFS REST call log" ><span class="linkText">TFS REST call log</span></a>
		<a href="/logs/tfsTestResults/last"><img class="linkIcon" src="resources/f-step-simple.svg" alt="TFS test result log" ><span class="linkText">TFS test result log</span></a>
		<a href="/logs/octaneTestResults/last"><img class="linkIcon" src="resources/f-step-simple.svg" alt="ALM Octane test result log" ><span class="linkText">ALM Octane test result log</span></a>
		<a href="/logs/octaneTaskPolling/last"><img class="linkIcon" src="resources/f-step-simple.svg" alt="ALM Octane task polling log" ><span class="linkText">ALM Octane task polling log</span></a>
		<a href="/logs/download/all"><img class="linkIcon" src="resources/download.svg" alt="Download all" ><span class="linkText">Download all</span></a>

	</div>
	
</body>

<script src="resources/jquery-3.2.1.min.js"></script>


<script>

$(document).ready(function(){


});


</script>
</html>
