<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>TFS plugin for ALM Octane</title>
	<meta name="description" content="TFS plugin for ALM Octane">
	<meta name="author" content="Microfocus">

	<link rel="stylesheet" type="text/css" href="resources/style.css">
	<style>


h2{
		margin-left: 20px;
		margin-bottom: -10px;
}
table{
	margin : 18px 0 0 20px;
	font-size: 17px;
}
		
.itemHeader{
		width : 250px;
}
.itemValue{
		width : 250px;
}

.pluginConnected{
		color:green;
}

.pluginDown{
		color:red;
}


#actions.hidden{
	display:none;
}
</style>

	<noscript>Sorry, your browser does not support JavaScript!</noscript>
</head>


<body>

	<div id="header">

		<div id="title">TFS Plugin for ALM Octane</div>

	</div>

	<div id="links">
		<h2>Links</h2>

		<a href="/config" target="_blank"><img class="linkIcon" src="resources/configuration.svg" alt="Configuration"><span class="linkText">Configuration</span></a>
		<a href="/logs/last" target="_blank"><img class="linkIcon" src="resources/f-step-simple.svg" alt="Last Log" ><span class="linkText">Last Log</span></a>

		<div id="actions" class="hidden">
			<h2>Actions</h2>
			<a onclick='return startPlugin()'><img class="linkIcon" src="resources/f-status-run.svg" alt="Start Plugin"><span class="linkText">Start Plugin</span></a>
			<a onclick='return stopPlugin()'><img class="linkIcon" src="resources/f-status-stopped.svg" alt="Stop Plugin"><span class="linkText">Stop Plugin</span></a>
			<a onclick='return clearQueues()'><img class="linkIcon" src="resources/f-delete-circle.svg" alt="Clear queues"><span class="linkText">Clear queues</span></a>
		</div>

		
	</div>

	<h2>Status Summary</h2>
	<table>
		<tr><td class="itemHeader">Plugin status :</td><td class="itemValue"><div id="pluginStatus">Loading ...</div></td></tr>
		<tr><td class="itemHeader">Plugin version :</td><td class="itemValue"><div id="pluginVersion">Loading ...</div></td></tr>
	</table>
	<h2>Queues</h2>
		<table>
		<tr><td class="itemHeader">General event queue size :</td><td class="itemValue"><div id="generalQueueSize">Loading ...</div></td></tr>
		<tr><td class="itemHeader">Finish event queue size :</td><td class="itemValue"><div id="finishQueueSize">Loading ...</div></td></tr>
	</table>
</body>

<script src="resources/jquery-3.2.1.min.js"></script>


<script>

$(document).ready(function(){


});

refresh();
setInterval(function(){ refresh(); }, 3000);
function refresh(){
	$.get( "status", function( data ) {

		$('#pluginStatus').text(data['pluginStatus']);
		$('#pluginVersion').text(data['pluginVersion']);
		$('#generalQueueSize').text(data['generalQueueSize']);
		$('#finishQueueSize').text(data['finishQueueSize']);
		
		if(data['pluginStatus']==='Connected'){
			$('#pluginStatus').addClass('pluginConnected');
			$('#pluginStatus').removeClass('pluginDown');
		}

		$('#pluginStatus').removeClass('pluginConnected');
		$('#pluginStatus').removeClass('pluginDown');
		if(data['pluginStatus']==='Connected'){
			$('#pluginStatus').addClass('pluginConnected');
		}
		else if(data['pluginStatus']==='Stopped'){
			$('#pluginStatus').addClass('pluginDown');
		}

		if(data['isLocal']===true){
			$('#actions').removeClass('hidden');
		}
	});

}
function stopPlugin(){
	$.post( "stop", function( data ) {
		alert(data);
	});
}
function startPlugin(){
	$.post( "start", function( data ) {
		alert(data);
	});
}
function clearQueues(){
	$.post( "queues/clear", function( data ) {
		alert(data);
	});
}
</script>
</html>
